

.header{
	width: 100%;
	height: 100%;
	display: flex;
}
.header ul li{
	display: inline-flex;
}
.header ul li a{
	text-decoration: none;
	color: darkred;
	background-color: lightcyan;
}
ul{
	display: flex;

}
.header ul{
	float: right;
}